@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

ul {
    list-style: none;
}

body {
    width: 100vw;
    background-color: #e6eff6;
    display: flex;

}

button {
    width: 100%;
    padding: 5% 10%;
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 5px;
    color: #fff;
}




/* --------------------- wrapper div---------------------- */

.wrapper {
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    max-width: 350px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.07), 0 6px 6px rgba(0,0,0,0.15);
    

}

 .join, .subscription, .why-us  {
    padding: 10%;
}


 h1, h2 {
    font-weight: 700;
    padding-bottom: 8%;
}


 h1 {
    font-size: 2rem;
}

 h2 {
    font-size: 1.1rem;
}


/* ------------------------ join class ----------------- */

.join {
    background-color: #ffffff;
}

.join h1 {
    color: hsl(179, 62%, 43%);
    font-size: 1.3rem;
    padding-bottom: 8%;
}

.join h3 {
    color: hsl(71, 73%, 54%);
    padding: 0 0 3%;
    font-size: 1.1rem;
}

.join p {
    color: hsl(218, 22%, 67%);
    line-height: 25px;
    font-size: 0.9rem;
    font-weight: 400;
}


/* --------------------------- subscription class ------------- */
.subscription {
    background-color: #2bb3b1;
    color: #fff;
}

.price {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 8%;
    display: flex;
}

.price span {
    color: hsl(204, 43%, 93%);
    font-weight: 400;
    align-self: center;
    padding-left: 5%;
    font-size: 1rem;

}

.subscription p {
    padding-bottom: 10%;
    font-weight: 400;
}


/* ----------------------- why-us class --------------------------- */

.why-us {
    background-color: #4abebd;
    color: #fff;
}

.why-us li {
    font-size: 0.8rem;
    padding: 1% 0;
    color: hsl(204, 43%, 93%);
}



@media (min-width: 1440px) {
    
    html {
        font-size: 18px;
    }
    
    
    body {
        background-color: #f5f5f6;
    }

    .wrapper {
        min-height: 530px;
        min-width: 700px;
        flex-wrap: wrap;
        
    }

    .second-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }



    .join, .subscription, .why-us  {
        padding: 6%;
    }

    .subscription {
        flex: 1;
    }

    .why-us {
        flex: 1;
    }



    .join h1 {
        padding-bottom: 4%;
    }


}